
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(31, 136, 228, 1);
    border: solid;
}
#navbar {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0,0,0,0.5);
    z-index: 10;
}
.nav-list{
    display: flex;
    list-style-type: none;
    margin-right: 2rem;
}
.nav-list a{ 
    display:block;
    font-size: 2rem;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
}
.nav-list a:hover{
    background: green;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(135deg, #698fb5 0%, #000 100%);
}
#welcome-section h1{
color: white;
}
.projects-section{
    text-align: center;
    padding: 5rem 2rem;
    background: dodgerblue;
    height: 60vh;
}
.projects-grid{
display: grid;
grid-template-columns: repeat(autofit, minmax(320px, 1fr));
grid-gap: 5rem;
width: 100%;
max-width: 1280px;
margin: 0 auto;
margin-bottom: 6rem;
}
figure img{
    height: 20rem;
    width: 20rem;
}
figcaption{
    background-color: rgba(56, 49, 49, 0.5);
    /*text: white;*/
}
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: orange;
}
.contact-section-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: dodgerblue;
}
.contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
.contact-details{
    font-size: 2.4rem;
    text-decoration: none;
    color: white;
   /* text-shadow: 0 2px 0 #1f1f1f; */
    transition: transform 0.3s ease-out;
}
.contact-details:hover{
transform: translateY(-8px);
}
h1{
    font-size: 3rem;
}
@media screen and (max-width: 28.75em){
    .contact-links{
        flex-direction: column;
        align-items: center;
    }
    #welcome-section{
        background-image: linear-gradient(270deg, #5db34b 0%, #c7aa09 100%)
    }
}