
html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgba(31, 136, 228, 1);
    border: solid;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    border: 1px solid black;
    background-color: red;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style-type: none;
    margin-right: 2rem;
}
.nav-list a{ 
    display:block;
    font-size: 2rem;
    padding: 2rem;
    color: #fff;
    text-decoration: none;
}
.nav-list a:hover{
    background: green;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(135degrees, #698fb5 0%, #000)
}
#welcome-section h1{
    color: white;
}
.projects-section{
    text-align: center;
    padding: 5rem 2rem;
    background: dodgerblue;
}
/*.projects-grid{

}*/
figure img{
    height: 200px;
    width: 200px;
}
figcaption{
    background-color: rgba(56, 49, 49, 0.5);
    /*text: white;*/
}
.contact-section{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}
/*h1{
}*/
