*{
    margin: 0;
    box-sizing: border-box;
    /*background-image: /images./Blue.png*/
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{
    margin: 1rem;
}
figcaption{
    text-align: center;
    color: #FFE81F;
    background-color:#000;
    font-family: 'Franklin Gothic Medium';
}
header{
    text-align: center;
    color: #FFE81F;
    text-decoration: underline;
    padding: 0px;
    font-family: 'Franklin Gothic Medium';
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   
}