*{
    margin: 0;
    box-sizing: border-box;
    /*background-image: /images./Blue.png*/
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure{
    margin: 1rem;
}
figcaption{
    text-align: center;
    background-color: lightsalmon;
}