:root {
    margin: 0;
    box-sizing: border-box;
}
.container{
    display:flex;
}
.main{
 margin: 8rem, auto;
}
header, footer{
    display:flex;
    justify-content: center;
    font-size: 1rem;
}
a {
    text-decoration: none;
    font-size: large;
}

li {
    list-style-type: none;
}
body{
    color: black;
    border: solid;
    border-width: 5px;
    border-radius: 3px;
}