*{
    margin: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: none;
    margin: 1rem;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
figure img{
    max-height: 12rem;
}