body{
    background-image: linear-gradient(to bottom right, #E0645D,#5D7EBD);
    
}
main{
    margin:10px;
    box-shadow: 3px 3px 3px #000;
}
#navAndGrid{
    display:flex;
    flex-direction: column;
}
#display{
    display:flex;
}
.column{
    width: 100%;
    background-image: linear-gradient(#DE0100, #1405BD);
}
.column a{
    color: white;
    text-decoration: none;
    margin: auto;

}
a:hover{
    border: dashed #1405BD 1px;
}
button{
    margin: 1rem;
    padding: 25px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #E0645D,#5D7EBD );
}
button:hover{
    background-color: #1405BD;
    color: #DE0100;
}
#buttonHeader{
    height: 100%;
    background-image: linear-gradient(to bottom right,#DE0100, #1405BD);
    margin-right: auto;
    margin-left: auto;
    
}
#buttons{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.senatorGrid{
    display:flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

figcaption{
    text-align: center;
    margin: 5px;
    border: solid 1px;
}
#lowC{
    text-align: center;
}
footer{
    text-align: center;
    width: 200%;
}
@media only screen and (max-width: 735px){
    #buttons{
        display:flex;
        flex-direction: column;
        
    }
    #buttons button{
        padding: 2px;
        border-radius: 15px;
    }
}